body {
	background: url(../Imgperilsito/pattern1.jpg);
	background-color: #937A6E;
}

.container {
	max-width: 1000px;
	margin: auto;
}

.header , .skills {
	background-color: #E62A1E;
}

.header h1 , .skills h1 {
	font-family: "GodOfWar";
	font-size: 3em;
	color: #EEE;
	text-shadow: 5px 3px 5px #000;
}

.centrale h1 {
	padding: 20px 0px 20px 0px;
	font-family: "GodOfWar";
	font-size: 45px;
	text-shadow: 5px 3px 5px #000;
	color: #FFF;
	margin: 20px 0px 20px 0px;
}

.col-md-6 , .col-md-3 {
	height: 500px;
}

#fg {
	width: 250px;
}

.col-md-6 img:hover , .col-md-3 img:hover {
	opacity: 0.85;
}

#alpha {
	width: 550px;
	height: 500px;
}

#blue , #green {
	width: 250px;
	height: 250px;
}

.comingsoon {
	background-color: #433;
	color: #EEE;
	text-align: center;
	padding-top: 100px;
	font-size: 35px;
}

.skills {
	margin-top: 40px;
}

.elenco {
	background-color: #4F735E;
	height: 300px;
}

.elenco img {
	width: 100px;
	padding: 0px 5px 0px 5px;
	margin: 40px 5px 0px 10px;
}

.fb {
	background-color: #234767;
	color: #EEE;
	font-size: 20px;
	height: 170px;
}

.fb img {
	width: 41px;
	padding: 10px 0px 10px 0px;
}

.fb ul {
	list-style-type: none;
}

.footer {
	background-color: #E62A1E;
	height: 80px;
	width: 100%;
}

.footer p {
	color:#EEE;
	padding-top: 30px;
	font-size: 20px;
}

@font-face {
	font-family: "GodOfWar"; 
	src: url(../GODOFWAR.TTF);
}

@font-face {
	font-family: "AmazDooMLeft";
	src: url(../AmazDooMLeft.ttf);
}