html, body {
  font-family: "Oxygen", sans-serif; 
  font-weight: 300; 
  margin: 0;
  padding: 0;
}

.container {
  max-width: 970px;
}

.supporting {
  background-image: url();
  background-size: 141px 142px;
}

.jumbotron {
	background-color: transparent;
  background-color: #000;
}

.btn {
	margin: 0px 5px 0px 25px;
}

.btn:hover {
	background-color: #0393FF;
  color: #EEE;
  border: 1px solid #0393FF;
}

.btn-default {
	border: 1px solid #0393FF;
  color: #0393FF;
  background-color: transparent;
}

.pull-right li {
display: inline-block;
}

.pull-right li:nth-child(1) {
	color: white;
}

.main {
	text-align: center;
}

.main h1 {
	color: #EEE;
}

.form-control {
	/*margin-top: 50px;*/
  background-color: transparent;
  border-top: none; 
  border-right: none;
  border-left: none;
  padding-right: 250px;
}

.form-control:hover {
	border: 1px solid #0393FF;
  border-top: none; 
  border-right: none;
  border-left: none;
}

.form-inline {
	margin-top: 80px;
}

.supporting h2 {
	padding-top: 70px;
  text-align: center;
  color: #0393FF;
}

.supporting p {
	text-align: center;
  color: #EEE;
}

.supporting img {
	border: none;
  background-color: transparent;
}

.supporting {
	background-color: #222;
  margin-top: -40px;
}

.feature {
	background: url(../../Images/feature.jpg) no-repeat center center;
  background-size: cover;
  height: 300px;
}

.feature h2 {
	text-align: center;
  color: #0393FF;
  padding-top: 100px;
}

.feature p {
	text-align: center;
  color: #EEE;
}

.footer h4 {
	padding-top: 90px;
}

.footer {
	height: 300px;
  background-color: #111;
}

.footer ul {
	list-style-type: none;
}

.footer li {
	text-align: left;
}